# Quizz 1 - Python basics

## a) type

### Create a variable 'string' containing "toto" and a variable 'number' containing the number 10.

In [2]:
string = "toto"
number = 10

### Convert 'string' to unicode and 'number' in float

In [7]:
number = float(number)

### Reverse the contents of the variables 'string' and 'number' (in 1 line).

In [8]:
string, number = number, string

## b) List

### Create a list `A`  containing the following integers: 1, 3, 2, 7, 4, 10, 46.

In [9]:
A=[1,3,2,7,4,10,46]


### Display the first 3 items in list `A` - in one line of code

In [11]:
A[:3]

[1, 3, 2]

### Create a list `B` that contains only the 3rd, 4th and 5th elements of `A` . Your line of code should only contain 8 characters (not including spaces) - Check your result carefully!

In [14]:
B = A[2:5]
B

[2, 7, 4]

### Concatenate lists `A` and `B` to form list `C`.

In [15]:
C = A + B
C

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4]

### Using the zip function, associate the values of `A` and `B` in the variable `D`

In [16]:
D = zip(A, B)
D

### Add the number 5 to list `A`

In [17]:
A.append(5)
A

[1, 3, 2, 7, 4, 10, 46, 5]

### Add a null element to the `C` list

In [21]:
C.append(None)
C

[1, 3, 2, 7, 4, 10, 46, 2, 7, 4, None]

### Write a function that takes as arguments a list 'lst' and an integer 'n' and returns the result of n concatenations of 'lst' with itself (e.g. lst=[1,2,3], n=2 --> [1,2,3,1,2,3]).

In [22]:
def concat(lst, n):
    return lst*n
text = concat([1,2,3], 3)
text

[1, 2, 3, 1, 2, 3, 1, 2, 3]

### You want to make parameter 'n' optional and set its value to 2 by default. How do you do it?

In [ ]:
def concat(lst, n=2):
    return lst*n

###  With a 'while' loop, print each element of the `C` list up to the `null` element.

In [25]:
i = 0
while C[i] != None:
    print(C[i])
    i+=1

1
3
2
7
4
10
46
2
7
4

### Calculate, with a 'for' loop, the number of even integers present in the list A

In [28]:
compteur = 0
print(A)
for el in A:
    if el%2 == 0:
        compteur += 1
        print(el)
compteur

[1, 3, 2, 7, 4, 10, 46, 5]
2
4
10
46

4

### Rewrite the following expression with a multi-line 'for' loop

In [38]:
C = [element for element in A if element %2 == 0]

In [39]:
print(C)
i = 0
for element in A:
    if element % 2 == 0:
        C[i] = element
        i+=1
print(C)

[2, 4, 10, 46]
[2, 4, 10, 46]

### Create a function that takes a string as input and returns the first single letter of the string

In [42]:
def firstLetter(str):
    for c in str:
        if str.count(c) == 1:
            return c
firstLetter('coucoutoi')

't'

## c) Dictionaries

### Create a car dictionary with the following keys and values:
| key  | value |
|---|---|
| brand  | Ford  |
| model  | Mustang |
| year  | 1964 |

In [43]:
car={"brand":"Ford", "model":"Mustang", "year":1964}

### Access to the "year" value

In [44]:
car["year"]

1964

###  Use a loop to display all the dictionary keys

In [45]:
for item in car:
    print(item)

brand
model
year

###  Use a loop to display all the dictionary value

In [46]:
for item in car.values():
    print(item)

Ford
Mustang
1964

### Use a loop to display all the items in the dictionary. Display also the index of each loop iteration (enumerate function).

In [48]:
for i, key in enumerate(car):
    print(i, key, car[key])

0 brand Ford
1 model Mustang
2 year 1964

### With the help of a comprehension dictionary create a dictionary with the following keys and values :
| key  | value |
|---|---|
| cle_1  | dictionary 'car' |
| cle_2  | dictionary 'car' |
| cle_3  | dictionary 'car'|

#### Example of a dictionnary comprehension (similar to list comprehension):
```
dict = {key:value for key, value in zip(list_1, list_2)}
```

In [50]:
dictionnary = {"cle_"+str(key):"dictionary'car'" for key in range(1,4) }
dictionnary

{'cle_1': "dictionary'car'",
 'cle_2': "dictionary'car'",
 'cle_3': "dictionary'car'"}

## d) Functions

### Create a fibonacci function (fibonacci sequence: 0 1 1 2 3 5 8 13 ...)
Ex : ``fibonacci(13) return [0,1,1,2,3,5,8,13]``

In [54]:
def fibonacci(num):
    val1 = 0
    val2 = 1
    suite = [0, 1]
    temp =0
    while temp < num:
        temp = val1+val2
        suite.append(temp)
        val1 = val2
        val2 = temp
    return suite
fibonacci(13)

[0, 1, 1, 2, 3, 5, 8, 13]

### Execute your function (fibonacci(100) must be executed in less than 1 second)

In [61]:
from datetime import datetime
t = datetime.now().microsecond
fibonacci(100)
t = datetime.now().microsecond - t
t

0

### Create a fibonacci function using a generator
Ex : ``generate_fibonacci(10) ``

In [69]:
def generate_fibonacci(num):
    compteur = 1
    val1 = 0
    val2 = 1
    while(compteur <= num):
        if compteur == 1:
            yield 0
        if compteur == 2:
            yield 1
        else:
            yield val1+val2
            val1, val2 = val2, val1+val2
        compteur+=1

fib = generate_fibonacci(10)
for num in fib:
    print(num)

0
1
1
2
3
5
8
13
21
34
55